In [1]:
import os
# from os import path

# Module for reading CSV files
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint

All_accident = 'Resources/US_Accidents_Dec21_updated.csv'
All_accident_data = pd.read_csv(All_accident)

All_accident_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [2]:
for col in All_accident_data.columns: 
    print(col)

ID
Severity
Start_Time
End_Time
Start_Lat
Start_Lng
End_Lat
End_Lng
Distance(mi)
Description
Number
Street
Side
City
County
State
Zipcode
Country
Timezone
Airport_Code
Weather_Timestamp
Temperature(F)
Wind_Chill(F)
Humidity(%)
Pressure(in)
Visibility(mi)
Wind_Direction
Wind_Speed(mph)
Precipitation(in)
Weather_Condition
Amenity
Bump
Crossing
Give_Way
Junction
No_Exit
Railway
Roundabout
Station
Stop
Traffic_Calming
Traffic_Signal
Turning_Loop
Sunrise_Sunset
Civil_Twilight
Nautical_Twilight
Astronomical_Twilight

In [3]:
All_accident_data.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,1.101431e+06,2.776068e+06,2.375699e+06,2.772250e+06,2.786142e+06,2.774796e+06,2.687398e+06,2.295884e+06
mean,2.137572e+00,3.624520e+01,-9.711463e+01,3.624532e+01,-9.711439e+01,7.026779e-01,8.089408e+03,6.179356e+01,5.965823e+01,6.436545e+01,2.947234e+01,9.099391e+00,7.395044e+00,7.016940e-03
std,4.787216e-01,5.363797e+00,1.831782e+01,5.363873e+00,1.831763e+01,1.560361e+00,1.836009e+04,1.862263e+01,2.116097e+01,2.287457e+01,1.045286e+00,2.717546e+00,5.527454e+00,9.348831e-02
min,1.000000e+00,2.456603e+01,-1.245481e+02,2.456601e+01,-1.245457e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.344517e+01,-1.180331e+02,3.344628e+01,-1.180333e+02,5.200000e-02,1.270000e+03,5.000000e+01,4.600000e+01,4.800000e+01,2.931000e+01,1.000000e+01,3.500000e+00,0.000000e+00
50%,2.000000e+00,3.609861e+01,-9.241808e+01,3.609799e+01,-9.241772e+01,2.440000e-01,4.007000e+03,6.400000e+01,6.300000e+01,6.700000e+01,2.982000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.016024e+01,-8.037243e+01,4.016105e+01,-8.037338e+01,7.640000e-01,9.567000e+03,7.600000e+01,7.600000e+01,8.300000e+01,3.001000e+01,1.000000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900058e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,1.551860e+02,9.999997e+06,1.960000e+02,1.960000e+02,1.000000e+02,5.890000e+01,1.400000e+02,1.087000e+03,2.400000e+01

In [5]:
All_accident_data['year'] = All_accident_data["Start_Time"].str[:4]
All_accident_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,year
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,Night,Night,Night,Night,2016
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,Night,Night,Night,Night,2016
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,Night,Night,Night,Day,2016
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,Night,Night,Day,Day,2016
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,Day,Day,Day,Day,2016

In [6]:
AccidentData_2020 = All_accident_data.loc[All_accident_data['year']== "2020"]
AccidentData_2020.count()

ID                       625864
Severity                 625864
Start_Time               625864
End_Time                 625864
Start_Lat                625864
Start_Lng                625864
End_Lat                  625864
End_Lng                  625864
Distance(mi)             625864
Description              625864
Number                   237654
Street                   625864
Side                     625864
City                     625826
County                   625864
State                    625864
Zipcode                  625606
Country                  625864
Timezone                 625079
Airport_Code             624135
Weather_Timestamp        611131
Temperature(F)           606674
Wind_Chill(F)            601374
Humidity(%)              605408
Pressure(in)             609798
Visibility(mi)           607010
Wind_Direction           604001
Wind_Speed(mph)          604017
Precipitation(in)        586943
Weather_Condition        607308
Amenity                  625864
Bump                     625864
Crossing                 625864
Give_Way                 625864
Junction                 625864
No_Exit                  625864
Railway                  625864
Roundabout               625864
Station                  625864
Stop                     625864
Traffic_Calming          625864
Traffic_Signal           625864
Turning_Loop             625864
Sunrise_Sunset           625822
Civil_Twilight           625822
Nautical_Twilight        625822
Astronomical_Twilight    625822
year                     625864
dtype: int64

In [7]:
AccidentData_2020 = AccidentData_2020.drop(columns=["Astronomical_Twilight","Nautical_Twilight", "Civil_Twilight", \
                                           "Turning_Loop", "Traffic_Signal", "Traffic_Calming",\
                                           "Stop", "Station", "Roundabout", "Railway", "Amenity",\
                                           "No_Exit", "Junction", "Give_Way", "Crossing", "Bump", \
                                           "Pressure(in)", "Wind_Direction", "Airport_Code", "Timezone",\
                                           "Description"])
AccidentData_2020.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,...,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year
232630,A-232631,2,2020-12-30 22:58:00,2021-08-28 15:14:32,39.775174,-75.480441,39.790290,-75.464704,1.338,NaN,...,2020-12-30 22:51:00,44.0,37.0,55.0,10.0,14.0,0.0,Cloudy,Night,2020
246924,A-246925,2,2020-10-13 19:19:34.000000000,2021-07-19 08:00:00.000000000,44.725203,-122.185579,44.734005,-122.166744,1.107,43931.0,...,2020-10-13 18:56:00,60.0,60.0,64.0,10.0,7.0,0.0,Cloudy,Night,2020
247119,A-247120,2,2020-05-23 09:23:48.000000000,2021-06-01 10:45:00.000000000,44.875127,-121.428011,44.846357,-121.397251,2.494,NaN,...,2020-05-23 09:53:00,59.0,59.0,48.0,10.0,18.0,0.0,Fair,Day,2020
250560,A-250561,2,2020-10-13 19:19:34,2021-10-01 08:00:00,44.704907,-122.231897,44.697982,-122.217820,0.841,41749.0,...,2020-10-13 18:56:00,60.0,60.0,64.0,10.0,7.0,0.0,Cloudy,Night,2020
279132,A-279133,2,2020-12-30 22:58:00,2021-03-31 20:49:43,39.783118,-75.473129,39.791412,-75.462887,0.790,NaN,...,2020-12-30 22:51:00,44.0,37.0,55.0,10.0,14.0,0.0,Cloudy,Night,2020

In [9]:
for col in AccidentData_2020.columns: 
    print(col)

ID
Severity
Start_Time
End_Time
Start_Lat
Start_Lng
End_Lat
End_Lng
Distance(mi)
Number
Street
Side
City
County
State
Zipcode
Country
Weather_Timestamp
Temperature(F)
Wind_Chill(F)
Humidity(%)
Visibility(mi)
Wind_Speed(mph)
Precipitation(in)
Weather_Condition
Sunrise_Sunset
year

In [8]:
AccidentData_2020.to_csv("Cleaned2020Data.csv")